### Importación de librerías

In [ ]:
import pandas as pd

### Cargar datos desde el origen (carpeta Data)

In [5]:
df =    pd.read_csv(
            r'/Users/renzovergara/Documents/Proyectos/Piloto Python/Data/serie-rem-2024/Datos/SerieA2024.csv',
            sep=';',
            encoding='utf-8'
        )

### Imprimir informacion del DF

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6559080 entries, 0 to 6559079
Data columns (total 57 columns):
 #   Column             Dtype
---  ------             -----
 0   Mes                int64
 1   IdServicio         int64
 2   Ano                int64
 3   IdEstablecimiento  int64
 4   CodigoPrestacion   object
 5   IdRegion           int64
 6   IdComuna           int64
 7   Col01              float64
 8   Col02              float64
 9   Col03              float64
 10  Col04              float64
 11  Col05              float64
 12  Col06              float64
 13  Col07              float64
 14  Col08              float64
 15  Col09              float64
 16  Col10              float64
 17  Col11              float64
 18  Col12              float64
 19  Col13              float64
 20  Col14              float64
 21  Col15              float64
 22  Col16              float64
 23  Col17              float64
 24  Col18              float64
 25  Col19              float64
 26  Col20              float64
 27  Col21              float64
 28  Col22              float64
 29  Col23              float64
 30  Col24              float64
 31  Col25              float64
 32  Col26              float64
 33  Col27              float64
 34  Col28              float64
 35  Col29              float64
 36  Col30              float64
 37  Col31              float64
 38  Col32              float64
 39  Col33              float64
 40  Col34              float64
 41  Col35              float64
 42  Col36              float64
 43  Col37              float64
 44  Col38              float64
 45  Col39              float64
 46  Col40              float64
 47  Col41              float64
 48  Col42              float64
 49  Col43              float64
 50  Col44              float64
 51  Col45              float64
 52  Col46              float64
 53  Col47              float64
 54  Col48              float64
 55  Col49              float64
 56  Col50              float64
dtypes: float64(50), int64(6), object(1)
memory usage: 2.8+ GB

### Mostrar los primeros registros del DF

In [7]:
df.head()

,Mes,IdServicio,Ano,IdEstablecimiento,CodigoPrestacion,IdRegion,IdComuna,Col01,Col02,Col03,...,Col41,Col42,Col43,Col44,Col45,Col46,Col47,Col48,Col49,Col50
0,10,5,2024,105100,09600394,4,4101,182.0,94.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,5,2024,105100,09600412,4,4101,3.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,10,5,2024,105100,11052700,4,4101,2.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,10,5,2024,105100,11052800,4,4101,2.0,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,10,5,2024,105100,11053000,4,4101,137.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,NaN,NaN

### Listar encabezados

In [16]:
print(df.columns.tolist())

['Mes', 'IdServicio', 'Ano', 'IdEstablecimiento', 'CodigoPrestacion', 'IdRegion', 'IdComuna', 'Col01', 'Col02', 'Col03', 'Col04', 'Col05', 'Col06', 'Col07', 'Col08', 'Col09', 'Col10', 'Col11', 'Col12', 'Col13', 'Col14', 'Col15', 'Col16', 'Col17', 'Col18', 'Col19', 'Col20', 'Col21', 'Col22', 'Col23', 'Col24', 'Col25', 'Col26', 'Col27', 'Col28', 'Col29', 'Col30', 'Col31', 'Col32', 'Col33', 'Col34', 'Col35', 'Col36', 'Col37', 'Col38', 'Col39', 'Col40', 'Col41', 'Col42', 'Col43', 'Col44', 'Col45', 'Col46', 'Col47', 'Col48', 'Col49', 'Col50']

### Extraer el listado de Regiones

In [ ]:
regiones = df['IdRegion'].unique()
regiones.sort()
regiones

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

### Extraer el listado de Comunas

In [17]:
comunas = df['IdComuna'].unique()
comunas.sort()
comunas

array([ 1101,  1107,  1401,  1402,  1403,  1404,  1405,  2101,  2102,
        2103,  2104,  2201,  2202,  2203,  2301,  2302,  3101,  3102,
        3103,  3201,  3202,  3301,  3302,  3303,  3304,  4101,  4102,
        4103,  4104,  4105,  4106,  4201,  4202,  4203,  4204,  4301,
        4302,  4303,  4304,  4305,  5101,  5102,  5103,  5104,  5105,
        5107,  5109,  5201,  5301,  5302,  5303,  5304,  5401,  5402,
        5403,  5404,  5405,  5501,  5502,  5503,  5504,  5506,  5601,
        5602,  5603,  5604,  5605,  5606,  5701,  5702,  5703,  5704,
        5705,  5706,  5801,  5802,  5803,  5804,  6101,  6102,  6103,
        6104,  6105,  6106,  6107,  6108,  6109,  6110,  6111,  6112,
        6113,  6114,  6115,  6116,  6117,  6201,  6202,  6203,  6204,
        6205,  6206,  6301,  6302,  6303,  6304,  6305,  6306,  6307,
        6308,  6309,  6310,  7101,  7102,  7103,  7104,  7105,  7106,
        7107,  7108,  7109,  7110,  7201,  7202,  7203,  7301,  7302,
        7303,  7304,  7305,  7306,  7307,  7308,  7309,  7401,  7402,
        7403,  7404,  7405,  7406,  7407,  7408,  8101,  8102,  8103,
        8104,  8105,  8106,  8107,  8108,  8109,  8110,  8111,  8112,
        8201,  8202,  8203,  8204,  8205,  8206,  8207,  8301,  8302,
        8303,  8304,  8305,  8306,  8307,  8308,  8309,  8310,  8311,
        8312,  8313,  8314,  9101,  9102,  9103,  9104,  9105,  9106,
        9107,  9108,  9109,  9110,  9111,  9112,  9113,  9114,  9115,
        9116,  9117,  9118,  9119,  9120,  9121,  9201,  9202,  9203,
        9204,  9205,  9206,  9207,  9208,  9209,  9210,  9211, 10101,
       10102, 10103, 10104, 10105, 10106, 10107, 10108, 10109, 10201,
       10202, 10203, 10204, 10205, 10206, 10207, 10208, 10209, 10210,
       10301, 10302, 10303, 10304, 10305, 10306, 10307, 10401, 10402,
       10403, 10404, 11101, 11102, 11201, 11202, 11203, 11301, 11302,
       11303, 11401, 11402, 12101, 12102, 12103, 12104, 12201, 12301,
       12303, 12401, 12402, 13101, 13102, 13103, 13104, 13105, 13106,
       13107, 13108, 13109, 13110, 13111, 13112, 13113, 13114, 13115,
       13116, 13117, 13118, 13119, 13120, 13121, 13122, 13123, 13124,
       13125, 13126, 13127, 13128, 13129, 13130, 13131, 13132, 13201,
       13202, 13203, 13301, 13302, 13303, 13401, 13402, 13403, 13404,
       13501, 13502, 13503, 13504, 13505, 13601, 13602, 13603, 13604,
       13605, 14101, 14102, 14103, 14104, 14105, 14106, 14107, 14108,
       14201, 14202, 14203, 14204, 15101, 15102, 15201, 15202, 16101,
       16102, 16103, 16104, 16105, 16106, 16107, 16108, 16109, 16201,
       16202, 16203, 16204, 16205, 16206, 16207, 16301, 16302, 16303,
       16304, 16305])