# Ejemplo de uso

In [1]:
import pandas as pd

def clean_data(df):
    # Filtrar filas en función de las columnas: 'GENERO', 'TRAMO'
    df = df[(df['GENERO'].str.contains("HOMBRE", regex=False, na=False, case=False)) & (df['TRAMO'].str.contains("A", regex=False, na=False, case=False))]
    # Seleccionar columnas: 'RUT', 'FECHA_NACIMIENTO' y 4 otras columnas
    df = df.loc[:, ['RUT', 'FECHA_NACIMIENTO', 'GENERO', 'TRAMO', 'NOMBRE_CENTRO', 'MOTIVO']]
    # Se ha realizado 1 agregación agrupados en columnas: 'NOMBRE_CENTRO', 'GENERO'
    df = df.groupby(['NOMBRE_CENTRO', 'GENERO']).agg(RUT_count=('RUT', 'count')).reset_index()
    # Ordenar por columna: 'RUT_count' (descendente)
    df = df.sort_values(['RUT_count'], ascending=[False])
    return df

# Se ha cargado la variable "df" del URI: /Users/renzovergara/Documents/Proyectos/Piloto Python/Comparativa FONASA.xlsx
df = pd.read_excel(r'/Users/renzovergara/Documents/Proyectos/Piloto Python/Comparativa FONASA.xlsx')

df_clean = clean_data(df.copy())
df_clean.head()

                             NOMBRE_CENTRO  GENERO  RUT_count
11  Centro De Salud FamiliarPuertas Negras  HOMBRE         24
6            Centro De Salud FamiliarBarón  HOMBRE         19
12  Centro De Salud FamiliarQuebrada Verde  HOMBRE         18
9     Centro De Salud FamiliarMarcelo Mena  HOMBRE         15
4        Centro De Salud Familiar Placeres  HOMBRE         14