# Agrupación del per capita por centro de salud - análisis de datos FONASA

### Importación de librerías

In [1]:
import pandas as pd

### Cargar datos desde el origen (carpeta Data)

In [3]:
# Se ha cargado la variable "df" del URI: /Users/renzovergara/Documents/Proyectos/Piloto Python/Comparativa FONASA.xlsx
df = pd.read_excel(r'/Users/renzovergara/Documents/Proyectos/Piloto Python/Data/percapita/Percapita FONASA 09-2024.xlsx')

### Listar encabezados de cada columna

In [6]:
print(df.columns.tolist())

['FECHA_CORTE', 'NOMBRE_CENTRO', 'EDAD', 'GENERO', 'MOTIVO', 'CODIGO_CMV', 'Recuento']

### Limpieza y Agrupación de Datos por Centro de Salud

In [7]:
def clean_data(df):
    df = df.groupby(['GENERO']).agg(CENTRO_count=('NOMBRE_CENTRO', 'count')).reset_index()
    # Ordenar por columna: 'CENTRO_count' (descendente)
    df = df.sort_values(['CENTRO_count'], ascending=[False])
    return df

### Visualización de la Agrupación por Centro

In [ ]:
df_clean = clean_data(df.copy())
df_clean.head()

  GENERO  CENTRO_count
0      F          2003
2      M          1882
1      I             9