# Agrupación del per capita por centro de salud - análisis de datos FONASA

### Importación de librerías

In [1]:
import pandas as pd

### Cargar datos desde el origen (carpeta Data)

In [2]:
# Se ha cargado la variable "df" del URI: /Users/renzovergara/Documents/Proyectos/Piloto Python/Comparativa FONASA.xlsx
df = pd.read_excel(r'/Users/renzovergara/Documents/Proyectos/Piloto Python/Data/muestra-percapita/Muestra percapita FONASA.xlsx')

### Limpieza y Agrupación de Datos por Centro de Salud

In [3]:
def clean_data(df):
    # Filtrar filas en función de las columnas: 'GENERO', 'TRAMO'
    # df = df[(df['GENERO'].str.contains("HOMBRE", regex=False, na=False, case=False)) & (df['TRAMO'].str.contains("A", regex=False, na=False, case=False))]
    # Seleccionar columnas: 'RUT', 'FECHA_NACIMIENTO' y 4 otras columnas
    df = df.loc[:, ['RUT', 'FECHA_NACIMIENTO', 'GENERO', 'TRAMO', 'NOMBRE_CENTRO', 'MOTIVO']]
    # Se ha realizado 1 agregación agrupados en columnas: 'NOMBRE_CENTRO', 'GENERO'
    df = df.groupby(['GENERO']).agg(RUT_count=('RUT', 'count')).reset_index()
    # Ordenar por columna: 'RUT_count' (descendente)
    df = df.sort_values(['RUT_count'], ascending=[False])
    return df

### Visualización de la Agrupación por Centro

In [4]:
df_clean = clean_data(df.copy())
df_clean.head()

   GENERO  RUT_count
2       M       1575
0       F       1463
3   MUJER       1095
1  HOMBRE        853

### Ejecución Completa del Notebook
Para ejecutar todas las celdas en orden y reproducir los resultados completos, sigue estos pasos:
1. Asegúrate de que el kernel esté activo (selecciona el entorno Python en la esquina superior derecha).
2. Ve al menú superior y selecciona **Run > Run All Cells**, o usa el atajo de teclado **Ctrl + Shift + Enter** (en macOS, Cmd + Shift + Enter).
3. Si hay errores, verifica que el archivo Excel esté en la ruta correcta y que pandas esté instalado.

> **Nota:** Ejecuta las celdas en secuencia para evitar problemas de dependencias. Si necesitas reiniciar, usa **Kernel > Restart Kernel**.